/* PP Monument Extended Font */
@font-face {
    font-family: 'PP Monument Extended';
    src: url('../../images/fonts/pp-monument-extended.woff2') format('woff2'),
         url('../../images/fonts/pp-monument-extended.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* PP Neue Montreal Font */
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../../images/fonts/pp-neue-montreal.woff2') format('woff2'),
         url('../../images/fonts/pp-neue-montreal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* PP Neue Montreal Regular Weight */
@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../../images/fonts/pp-neue-montreal-regular.woff2') format('woff2'),
         url('../../images/fonts/pp-neue-montreal-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
